header {
  margin: auto; 
  text-align: left;
  background-color: #683464;
  color: #683464;
} 

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #E9724D;
  }
  
  .form-signup {
    max-width: 200px;
    margin: 0 auto;
    background-color: #683464;
    padding: 30px;
    border: 10px solid #683464;
    border-radius: 50px;
  }
  
  .form-signup h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border-radius: 0px;
  }
  
  .form-row {
    margin-bottom: 20px;
  }
  
  .form-row .form-group {
    margin-bottom: 0;
  }