head { 
   margin-top: 0px; 
} 

header {
    text-align: left;
    background-color: #e9724d;
    color: #683464;
    margin-top: auto;
  }

main {
    text-align: center;
  }

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #683464;
  } 
  
p {
    color: #683464;
  }

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #E9724D;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .links {
    text-align: center;
  }
  
  .links a {
    display: inline-block;
    margin-right: 1px;
    text-decoration: none;
    color: #E9724D;
    font-weight: bold;
  }
  
  footer {
    text-align: center; 
    background-color: #683464;
    color: #e9724d;
    margin-top: auto;
    padding: 20px;
  }

  p1 {
    color: #e9724d;
  }